.about {
  position: relative;
  color: @white;
  overflow: hidden;
  padding-top: calc(@section-mobile-spacing - 38px + 10vw);
  padding-bottom: @section-mobile-spacing - 4px;
  margin-top: -3px; // Section overlap

  @media (min-width: @sm) {
    padding-top: calc(@section-spacing - 50px + 10vw);
    padding-bottom: @section-spacing - 4px;
  }

  @media (min-width: @md) {
    padding-top: calc(@section-spacing - 60px + 10vw);
  }

  @media (min-width: @lg) {
    padding-top: calc(@section-spacing - 2px + @section-spacing-skew);
  }

  .skew {
    position: absolute;
    inset: 0;
    background-color: @blue-dark;
    transform: skewY(@section-skew);
    transform-origin: 100% 0;
  }

  .triangles {
    position: absolute;
    inset: 0;
    overflow: hidden;

    > .triangle {
      position: absolute;

      polygon {
        fill: currentColor;
      }
    }

    > .triangle-1 {
      color: @blue-light;
      transform: scale(0.5);
      transform-origin: 100% 0;
      top: 50px;
      right: -22px;

      @media (min-width: @sm) {
        transform: initial;
        top: calc(107px + @section-spacing-skew);
        right: initial;
        left: 50%;
        color: @blue-light;
        margin-left: min(35%, 425px);
      }
    }

    > .triangle-2 {
      top: 20px;
      right: 18px;
      transform: scale(0.5);
      transform-origin: 100% 0;
      color: @blue;
      display: none;

      @media (min-width: @sm) {
        display: block;
        top: calc(82px + @section-spacing-skew);
        right: initial;
        left: calc(50% + 595px);
        transform: initial;
      }
    }

    .background {
      position: absolute;
      left: 0;
      top: calc(-100px + @section-spacing-skew);
      width: 100%;
      pointer-events: none;

      .triangle-1 {
        @media (max-width: @sm - 1px) {
          display: none;
        }
      }

      .triangle-2 {
        display: none;

        @media (min-width: @lg) {
          display: initial;
        }
      }
    }
  }

  .triangle-3 {
    bottom: 290px;
    left: 82%;
    color: @blue;
    opacity: 0.25;

    @media (min-width: @sm) {
      left: calc(50% + 288px);
      bottom: 202px;
    }

    @media (min-width: @lg) {
      display: none;
    }
  }

  .triangle-4 {
    bottom: 265px;
    left: 9%;
    color: @blue;
    opacity: 0.25;

    @media(min-width: @sm - 1px) {
      display: none;
    }
  }

  .container-fluid {
    position: relative;
  }

  .grid {
    @media (min-width: 590px) and (max-width: @sm - 1px) {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: @grid-column-gap;
    }
  }

  h2 {
    color: @white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: @space-lg - 18px;

    @media (min-width: @sm) {
      margin-bottom: @space-xxl - 18px;
    }
  }

  .lead {
    font-size: @font-size-large;
    line-height: 1.33;
    margin-bottom: @space-xxl - 15px;

    @media (min-width: @sm) {
      width: 80%;
      margin-bottom: @section-spacing / 2 - 15px;
    }
  }

  .about-text {
    opacity: 0.84;
    margin-bottom: @section-mobile-spacing - 8px;

    @media (min-width: @sm) {
      columns: 2;
      column-gap: @grid-column-gap;
      margin-bottom: @section-spacing - 15px;
    }
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @grid-column-gap;

    @media (min-width: @sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    a {
      &:focus-visible {
        outline-offset: @space-md;
      }
    }
  }

  .digital-scholar {
    @media (min-width: @sm) {
      margin-top: 2px;
    }
  }

  .sloan {
    margin-top: 5px;

    @media (min-width: @sm) {
      margin-top: 3px;
    }
  }
}
