.about {
  position: relative;
  color: @white;
  overflow: hidden;
  padding-top: calc(@section-mobile-spacing - 38px + 10vw);
  padding-bottom: @section-mobile-spacing - 4px;
  margin-top: -3px; // Section overlap

  @media (min-width: @sm) {
    padding-top: calc(@section-spacing - 50px + 10vw);
    padding-bottom: @section-spacing - 4px;
  }

  @media (min-width: @md) {
    padding-top: calc(@section-spacing - 60px + 10vw);
  }

  @media (min-width: @lg) {
    padding-top: calc(@section-spacing - 2px + @section-spacing-skew);
  }

  .skew {
    position: absolute;
    inset: 0;
    background-color: @blue-dark;
    transform: skewY(@section-skew);
    transform-origin: 100% 0;
  }

  .container-fluid {
    position: relative;
  }

  .grid {
    @media (min-width: 590px) and (max-width: @sm - 1px) {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: @grid-column-gap;
    }
  }

  h2 {
    color: @white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: @space-lg - 18px;

    @media (min-width: @sm) {
      margin-bottom: @space-xxl - 18px;
    }
  }

  .lead {
    font-size: @font-size-large;
    line-height: 1.33;
    margin-bottom: @space-xxl - 15px;

    @media (min-width: @sm) {
      width: 80%;
      margin-bottom: @section-spacing / 2 - 15px;
    }
  }

  .about-text {
    opacity: 0.84;
    margin-bottom: @section-mobile-spacing - 16px;

    @media (min-width: @sm) {
      columns: 2;
      column-gap: @grid-column-gap;
      margin-bottom: @section-spacing - 15px;
    }
  }

  .chnm,
  .sloan {
    @media (min-width: 590px) and (max-width: @sm - 1px) {
      grid-column-end: span 6;
    }
  }

  .chnm {
    padding-bottom: @grid-column-gap;

    @media (min-width: 590px) {
      padding-bottom: 0;
      justify-self: end;
    }

    @media (min-width: @sm) {
      padding-right: @grid-column-gap;
    }
  }

  .sloan {
    @media (min-width: 590px) {
      margin-top: 3px;
    }

    @media (min-width: @sm) {
      padding-left: @grid-column-gap;
    }
  }
}
