.hero {
  color: @white;
  margin-top: -@header-mobile-height;
  padding-top: @header-mobile-height;
  position: relative;
  padding-bottom: calc(@section-mobile-spacing - 6px + @section-spacing-skew);

  @media (min-width: @sm) {
    margin-top: -@header-height;
    padding-top: @header-height;
    padding-bottom: calc(@section-spacing - 6px + @section-spacing-skew);
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .skew {
    position: absolute;
    inset: 0;
    background: radial-gradient(100% 50%, #3d3d99, @blue-dark);
    transform: skewY(@section-skew);
    transform-origin: 0 0;

    @media (min-width: @sm) {
      background: radial-gradient(closest-side, #3d3d99, @blue-dark);
      background-position: center 38px;
    }
  }

  .triangles {
    position: absolute;
    left: 0;
    top: -32px;
    width: 100%;
    height: 800px;
    pointer-events: none;

    @media (min-width: 480px) {
      top: -78px;
    }

    @media (min-width: @sm) {
      top: 0;
    }

    .triangle-1 {
      @media (max-width: @sm - 1px) {
        transform: translateY(-30px);
      }
    }

    .triangle-2 {
      @media (min-width: 480px) and (max-width: @sm - 1px) {
        transform: translateY(46px);
      }
    }

    .triangle-3 {
      @media (max-width: 480px - 1px) {
        transform: translate(-16px, -58px);
      }

      @media (min-width: 480px) and (max-width: @sm - 1px) {
        transform: translateY(8px);
      }
    }

    .triangle-4 {
      @media (max-width: @sm - 1px) {
        transform: translateY(-30px);
      }
    }
  }

  h1 {
    color: @white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: @section-mobile-spacing - 43px;
    margin-bottom: @space-xl - 9px;

    @media (min-width: @sm) {
      margin-top: @section-spacing - 56px;
      margin-bottom: @space-xxl - 13px;
    }

    br {
      @media (min-width: 480px) {
        display: none;
      }
    }
  }

  .btn {
    color: @white;
    font-weight: 500;
    background-color: @brand-primary;
    text-decoration: none;
    padding: 11.5px @space-md 11px;
    border-radius: 6px;
    margin-bottom: @space-lg - 6px;

    @media (min-width: @sm) {
      margin-bottom: @space-xl - 6px;
    }
  }

  .release-notes {
    font-size: @font-size-small;
    color: @white;
    text-decoration: none;
  }
}

