.hero {
  color: @white;
  margin-top: rem(-@header-mobile-height);
  padding-top: rem(@header-mobile-height);
  position: relative;
  padding-bottom: calc(rem(@section-mobile-spacing) - rem(6px) + @section-spacing-skew);

  @media (min-width: @sm) {
    margin-top: rem(-@header-height);
    padding-top: rem(@header-height);
    padding-bottom: calc(rem(@section-spacing) - rem(6px) + @section-spacing-skew);
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .skew {
    position: absolute;
    inset: 0;
    background: radial-gradient(100% 50%, #3d3d99, @blue-dark);
    transform: skewY(@section-skew);
    transform-origin: 0 0;

    @media (min-width: @sm) {
      background: radial-gradient(closest-side, #3d3d99, @blue-dark);
      background-position: center 38px;
    }
  }

  .triangles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(800px);
    overflow: hidden;
    pointer-events: none;

    svg {
      position: absolute;
      width: rem(2560px);
      height: rem(800px);
      left: 50%;
      top: rem(-32px);
      transform: translateX(-50%);

      @media (min-width: 480px) {
        top: rem(-78px);
      }

      @media (min-width: @sm) {
        top: 0;
      }
    }

    .triangle-1 {
      @media (max-width: @sm - 1px) {
        transform: translateY(-30px);
      }
    }

    .triangle-2 {
      @media (min-width: 480px) and (max-width: @sm - 1px) {
        transform: translateY(46px);
      }
    }

    .triangle-3 {
      @media (max-width: 480px - 1px) {
        transform: translate(-16px, -58px);
      }

      @media (min-width: 480px) and (max-width: @sm - 1px) {
        transform: translateY(8px);
      }
    }

    .triangle-4 {
      @media (max-width: @sm - 1px) {
        transform: translateY(-30px);
      }
    }
  }

  h1 {
    color: @white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: rem(@section-mobile-spacing - 43px);
    margin-bottom: rem(@space-xl - 9px);

    @media (min-width: @sm) {
      margin-top: rem(@section-spacing - 56px);
      margin-bottom: rem(@space-xxl - 13px);
    }

    br {
      @media (min-width: 480px) {
        display: none;
      }
    }
  }

  .btn {
    color: @white;
    background-color: @brand-primary;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: rem(11.5px) @space-md rem(11px);
    border-radius: rem(6px);
    margin-bottom: rem(@space-lg - 6px);
    transition: background-color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);

    @media (min-width: @sm) {
      margin-bottom: rem(@space-xl - 6px);
    }

    @media (hover: hover) {
      &:hover {
        background-color: darken(@brand-primary, 2%);
      }
    }
  }

  .release-notes {
    font-size: @font-size-small;
    color: @white;
    text-decoration: none;
  }
}

