.use-cases {
  padding: 0.1px; // Stretch section with inner margin
  position: relative;

  .skew {
    position: absolute;
    inset: 0;
    background-color: #faf7f7;
    transform: skewY(@section-skew);
    transform-origin: 100% 0;
  }

  .triangles {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .triangle {
    position: absolute;

    polygon {
      fill: currentColor;
    }
  }

  .triangle-1 {
    color: @blue-light;
    display: none;

    @media (min-width: @sm) {
      display: block;
      top: calc(360px + @section-spacing-skew);
      left: calc(50% - 886px);
    }
  }

  .triangle-2 {
    top: 35px;
    right: -29px;
    transform: scale(0.5);
    transform-origin: 100% 50%;
    color: @blue;

    @media (min-width: @sm) {
      top: 77px;
      right: initial;
      left: 50%;
      margin-left: min(50%, 768px);
      transform: translateX(-202px);
    }

    @media (min-width: 1536px) {
      top: calc(-8px + @section-spacing-skew);
    }
  }

  // Use margin instead of section padding as some values can be negative
  .container-fluid {
    margin-top: calc(@section-mobile-spacing - 11px + 10vw);
    margin-bottom: calc(@section-mobile-spacing - 43px - @section-spacing-skew);
    position: relative;

    @media (min-width: @sm) {
      margin-top: calc(@section-spacing - 16px + 10vw);
      margin-bottom: calc(@section-spacing - 50px - @section-spacing-skew);
    }

    @media (min-width: @md) {
      margin-bottom: calc(@section-spacing - 29px - @section-spacing-skew);
    }

    @media (min-width: @lg) {
      margin-top: calc(@section-spacing + 46px + @section-spacing-skew);
    }
  }

  h2 {
    margin: 0;
    margin-bottom: @space-xxl - 7px;

    @media (min-width: @sm) {
      margin-bottom: @section-spacing * 9 / 16 - 10px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: inherit;
    margin: 0;
  }

  a {
    font-weight: 500;
  }

  img {
    margin-bottom: @space-xl - 8px;
  }

  p {
    margin-top: 9px;
    margin-bottom: @space-xxl - 8px;

    @media (min-width: @sm) {
      margin-bottom: @section-spacing * 9 / 16 - 8px;
    }
  }
}
