.credits {
  padding-bottom: @section-mobile-spacing - 25px;

  @media (min-width: @sm) {
    padding-bottom: @section-spacing - 89px;
  }

  h1 {
    text-align: center;
    margin-top: @section-mobile-spacing - 43px;
    margin-bottom: 0;

    @media (min-width: @sm) {
      margin-top: @section-spacing - 56px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: @space-xxl * 3 / 4 - 15px;

    @media (min-width: @sm) {
      text-align: center;
      margin-bottom: @section-spacing * 3 / 4 - 18px;
    }
  }

  .lead {
    font-size: 22px;
    line-height: 1.33;

    @media (min-width: @sm) {
      font-size: 24px;
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: @sm) {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, auto);
    }

    @media (min-width: @md) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-auto-flow: column;
    }
  }

  li {
    margin-bottom: 1em;

    @media (min-width: @sm) {
      padding: 0 (@grid-column-gap / 2);
      margin: 0;
    }
  }

  .contributor {
    font-size: 22px;
    line-height: 1.1;
    color: @blue-dark;
    margin: 0 0 3px 0;

    @media (min-width: @sm) {
      font-size: 24px;
    }
  }

  .description {
    margin: auto;

    small {
      font-size: 96%;
      white-space: nowrap;
    }
  }

  .affiliation {
    margin: 0;
    font-variant: small-caps;
  }

  .team {
    h2 {
      margin-top: @section-mobile-spacing * 3 / 4 - 21px;
      margin-bottom: @space-xxl * 3 / 4 - 24px;

      @media (min-width: @sm) {
        margin-top: @section-spacing - 29px;
        margin-bottom: @space-xxl - 20px;
      }
    }
  }

  .advisory-board {
    h2 {
      margin-top: @section-mobile-spacing * 3 / 4 - 19px;

      @media (min-width: @sm) {
        margin-top: @section-spacing - 24px;
      }
    }

    ul {
      @media (min-width: @sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
      }
    }

    li {
      @media (min-width: @sm) {
        padding-bottom: @section-spacing * 9 / 16 - 17px;
      }
    }

    .description {
      @media (min-width: @sm) {
        &.cohen,
        &.rhody {
          max-width: 400px;
        }
      }
    }
  }

  .alumni {
    h2 {
      margin-top: @section-mobile-spacing * 3 / 4 - 19px;

      @media (min-width: @sm) {
        margin-top: @section-spacing - 104px;
      }
    }

    li {
      @media (min-width: @sm) {
        height: @section-spacing * 3 / 4 + 38px;
      }
    }
  }

  .initial-advisory-board {
    h2 {
      margin-top: @section-mobile-spacing * 3 / 4 - 19px;

      @media (min-width: @sm) {
        margin-top: @section-spacing - 103px;
      }
    }

    ul {
      @media (min-width: @sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-auto-flow: column;
      }
    }

    li {
      @media (min-width: @sm) {
        height: @section-spacing * 3 / 4 + 66px;
      }
    }

    .description {
      @media (min-width: @sm) {
        &.fitzpatrick {
          max-width: 390px;
        }

        &.kirsch {
          max-width: 290px;
        }
      }
    }
  }
}
