.main-header {
  z-index: @z-index-header;
  position: relative;

  &.inverse {
    color: @white;
  }

  ul {
    list-style: none;
    margin: 0 (-@space-sm);
    padding: 0;
    display: flex;
    align-items: center;
    height: rem(@header-mobile-height);

    @media (min-width: @sm) {
      margin: 0 (-@space-md);
      height: rem(@header-height);
    }
  }

  a {
    text-decoration: none;
    display: block;
    padding: rem(@space-sm) @space-sm;
    color: inherit;
    outline-offset: -3px;

    @media (min-width: @sm) {
      padding: rem(@space-sm) @space-md;
    }

    &:focus-visible {
      outline-offset: -3px;
    }
  }

  .home {
    margin-right: auto;

    a {
      display: flex;
      align-items: center;
      font-size: rem(25px);
      line-height: 1;
    }

    img {
      width: 41px * 4 / 5;
      margin-right: @space-xs;

      @media (min-width: @sm) {
        width: initial;
      }
    }

    span {
      @media (max-width: @sm - 1) {
        display: none;
      }
    }
  }
}
