.post {
  font-size: @blog-font-size;
  line-height: @blog-line-height;
  word-break: break-word; // Break long links

  h2, h3, h4 {
    margin-top: calc(1.5 * @blog-font-size * 1.5);
    margin-bottom: rem(-9px);
  }

  // 32px, 42px: Upper limit
  // 27px, 32px: interpolated
  // 23px, 24px: interpolated
  // 19px, 19px: lower limit

  h1, .h1 {
    font-size: rem(32px);
    text-align: initial;
    letter-spacing: -0.01em;
    word-spacing: -0.035em;
    margin-top: rem(@section-mobile-spacing - 39px);
    margin-bottom: 0;

    @media (min-width: @sm) {
      font-size: rem(42px);
      text-align: center;
      margin-top: rem(@section-spacing - 51px);
    }
  }

  h2, .h2 {
    font-size: rem(27px);
    letter-spacing: -0.005em;
    word-spacing: -0.035em;

    @media (min-width: @sm) {
      font-size: rem(32px);
    }
  }

  h3, .h3 {
    font-size: rem(23px);
    letter-spacing: -0.0025em;
    word-spacing: -0.035em;

    @media (min-width: @sm) {
      font-size: rem(24px);
    }
  }

  h4, .h4 {
    font-size: rem(19px);
  }

  .post-meta {
    font-size: @font-size-small;
    font-weight: 500;
    color: @blue-dark;
    margin: rem(4px) 0 rem(60px - 19px) 0;

    @media (min-width: @sm) {
      text-align: center;
      margin: rem(7px) 0 rem(96px - 19px) 0;
    }

    .categories {
      &::before {
        content: " · ";
      }

      a {
        color: inherit;

        &:hover {
          color: @link-color;
          text-decoration: none;
        }
      }
    }

    .comma {
      &:first-child {
        display: none;
      }
    }
  }

  .post-content > p:first-child {
    font-size: rem(19px);

    @media (min-width: @sm) {
      font-size: rem(20px);
      line-height: 1.5;
    }
  }

  p {
    margin: 1.5em 0;
  }

  img {
    display: block;
    margin-block: rem(37px) rem(35px);
    margin-inline: auto;
    max-width: 100%;
    height: auto;

    &.xs {
      width: 339px;
    }

    &.sm {
      width: 524px;
    }

    &.lg {
      @media (min-width: @md) {
        max-width: 126%;
        margin-left: -13%;
      }
    }
  }

  figure {
    text-align: center;
    margin: rem(37px) 0 rem(35px) 0;

    & + figure {
      margin-top: rem(46px);
    }

    img {
      display: initial;
      margin: 0;
    }
  }

  figcaption {
    font-size: @font-size-small;
    margin: rem(12px) 0 rem(-7px) 0;
  }

  ol, ul {
    margin: 1.5em 0;
  }

  ol ul,
  ul ol {
    margin: 0;
  }

  sup {
    line-height: 1;
  }

  hr {
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: rem(-3px) 0 0 0;
  }

  :target {
    background: rgba(@brand-primary, 0.16);
  }

  &.post-preview {
    padding: 0;

    h2 {
      font-size: rem(23px);
      margin-top: calc(@blog-font-size * 1.5);
      margin-bottom: 0;

      @media (min-width: @sm) {
        font-size: rem(24px);
      }

      a {
        color: inherit;

        &:hover {
          color: @link-color;
          text-decoration: none;
        }
      }
    }

    .post-meta {
      text-align: left;
      margin-top: rem(2px);
      margin-bottom: rem(-18px); // Half of font size

      @media (min-width: @sm) {
        margin-top: rem(1px);
      }
    }
  }
}
