---
layout: default
---

<div class="container-fluid">
  <h1>Blog</h1>
  <pf-scroll-nav class="category-nav">
    <ul>
      <li><a href="/blog/" class="selected">All Posts</a></li>
      {% assign categories = collections | getAllTags | filterTags %}

      {%- for category in categories -%}
        <li><a href="/category/{{ category | slugify }}">{{ category }}</a></li>
      {%- endfor -%}
    </ul>
  </pf-scroll-nav>
  {% for post in collections.post reversed %}
    {% include "partials/post-preview" %}
  {% endfor %}
</div>
